
{% block file_select_widget %}
    <div class="file-upload-widget" {{ block('file_select_widget_attributes') }}>
        <div class="col-md-12 toolbar">
            <div class="btn-group btn-group-sm" role="group">
                <a href="" class="btn btn-default btn-select"><span class="fa fa-folder-open-o"></span> Tallózás</a>
                {% if media_library %}
                <a href="" class="btn btn-default btn-media-select"><i class="fa fa-picture-o"></i> Médiatár</a>
                {% endif %}
                <a href="" class="btn btn-default btn-upload"><span class="fa fa-arrow-up"></span> Feltöltés</a>
            </div>
        </div>
        {{ form_widget(form.upload, {attr:{class:'hidden'}}) }}
        <div class="col-md-6">
            <ul class="list-group">
            </ul>
        </div>
    </div>
    
    <style type="text/css" media="screen">
    .list-group-item .progress
    {
        margin-top: 10px;
        margin-bottom: -5px;
    }
    
    .file-upload-widget .toolbar
    {
        margin-bottom: 10px;
    }
    
    .list-group-item .btn-group
    {
        margin-top: -6px;
    }
    </style>

{% endblock %}


{% block file_select_widget_attributes -%}
{% apply spaceless %}
    {% if multiple %}
        {{ ' data-file-upload-multiple' }}="true"
    {% endif %}
    {% if form.upload %}
        {{ ' data-file-upload-uploadwidget' }}="#{{ form.upload.vars.id }}"
    {% endif %}
{% endapply %}
{%- endblock %}